In [260]:
import pandas as pd
import tabula

In [261]:
from matplotlib import pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
plt.style.use('fivethirtyeight')

In [241]:
df = pd.read_csv('C:/Users/USUARIO/Downloads/tabula-boletim-diario-de-casos-covid-19-09-06-2020_C8KH7bo (4).csv', encoding='UTF-8', delimiter=',' , low_memory=False)

In [242]:
df

,Unnamed: 0,INTERNADOS CONFIRMADOS EM MANAUS,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,REDE,INTERNADOS,LEITO CLÍNICO,%,EM UTI,%,NaN
1,NaN,PRIVADA,81,33,"40,74%",48,"59,26%",NaN
2,NaN,PÚBLICA,314,212,"67,52%",102,"32,48%",NaN
3,NaN,TOTAL,395,245,"62,03%",150,"37,97%",NaN

In [243]:
#df10 = pd.read_csv('C:/Users/USUARIO/Downloads/tabula-boletim-diario-de-casos-covid-19-10-06-2020.csv', encoding='UTF-8', delimiter=',' , low_memory=False)

In [244]:
#df10

In [245]:
#mesclando dados diferentes
#df=pd.merge(df09,df10,how='left', left_on=['INTERNADOS CONFIRMADOS EM MANAUS'], right_on=['INTERNADOS CONFIRMADOS EM MANAUS'])

In [246]:
df

,Unnamed: 0,INTERNADOS CONFIRMADOS EM MANAUS,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,REDE,INTERNADOS,LEITO CLÍNICO,%,EM UTI,%,NaN
1,NaN,PRIVADA,81,33,"40,74%",48,"59,26%",NaN
2,NaN,PÚBLICA,314,212,"67,52%",102,"32,48%",NaN
3,NaN,TOTAL,395,245,"62,03%",150,"37,97%",NaN

In [247]:
#elinando coluna sem informação relevante
df.drop('Unnamed: 0',axis=1,inplace=True)
df.drop('Unnamed: 7',axis=1,inplace=True)

In [248]:
df.drop(0, axis=0, inplace=True)

In [249]:
#dados faltante preechido com um "-"
df.fillna("-" , inplace=True)

In [250]:
#renomeando coluna
df.rename(columns={ "INTERNADOS CONFIRMADOS EM MANAUS":"REDE",  "Unnamed: 2":"INTERNADO",  "Unnamed: 3":"LEITO CLÍNICO",  "Unnamed: 4":"%   ",
                               "Unnamed: 5":"EM UTI",  "Unnamed: 6":" %   "}, inplace=True)

In [251]:
#acrescentando coluna data
df['DATA']="10/06/2020"

In [252]:
cols = list(df.columns.values)

In [253]:
df

      REDE INTERNADO LEITO CLÍNICO    %    EM UTI    %           DATA
1  PRIVADA        81            33  40,74%     48  59,26%  10/06/2020
2  PÚBLICA       314           212  67,52%    102  32,48%  10/06/2020
3    TOTAL       395           245  62,03%    150  37,97%  10/06/2020

In [237]:
#selecionando coluna
#df['INTERNADO' ]